<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
<body>
    <h1>Dynamic form with htmx</h1>

<form method="post">
    {% csrf_token %}
    <div>
        <select name="{{form.country.name}}" id="{{form.country.id_for_label}}" hx-get="/hx/state" hx-target="#{{form.state.id_for_label}}" hx-include="#id_country">
        {% for country in countries %}
        <option value="{{country.pk}}">{{country}}</option>
        {% endfor %}
        </select>
        {{form.nome}}
        {% if form.nome.errors %}
            <span class="error">{{form.nome.errors}}</span>
        {% endif %}
    </div>
    <div>
        <select name="{{form.state.name}}" id="{{form.state.id_for_label}}">
        </select>
    </div>
    <button type="submit">Invia</button>
</form>
    
</body>
</html>